@use '../../../node_modules/bootstrap/scss/bootstrap.scss';

body {
    background-color: #2e3a46;
    color: white;
}

main {
    .container {
        width: 80%;
        margin: 2rem auto;

        select {
            width: 13%;
        }

        .characters {
            background-color: white;

            .characters_numbers {
                background-color: #212529;
            }

            .character {
                height: 100%;
                background-color: #2e3a46;



                h6 {
                    text-transform: uppercase;
                }

                .category,
                .status {
                    color: #7d7977;
                }
            }
        }
    }
}